<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common-head">
    <title>Форма добавления продукта</title>
</head>
<body>
<nav th:replace="fragments/nav-bar::nav-bar">
</nav>

<div class="container">
    <h1>Форма добавления продукта</h1>

    <div class="row">
        <form method="post" th:action="@{/products/add}"  class="col-md-6" th:object="${product}">
            <div class="mb-3">
                <label fclass="form-label">Название</label>
                <input type="text" class="form-control" id="title" th:field="*{title}">
                <div th:each="err : ${#fields.errors('title')}" th:text="${err}" class="alert alert-danger">
                </div>
            </div>
            <div class="mb-3">
                <label fclass="form-label">Стоимость</label>
                <input type="number" class="form-control" id="cost" th:field="*{cost}">
                <div th:each="err : ${#fields.errors('cost')}" th:text="${err}" class="alert alert-danger">
                </div>
            </div>
            <a th:href="@{'/'}" class="btn btn-secondary">Отмена</a>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>
